.left{
    background-color: #6f4e37;
    height: 700px;
    margin-top: 5%;
    width: 40%;
    display: flex;
    float: left;
}
.right{
    background-color: #6f4e37;
    margin: 5% 0% 5% 5% ;
    height: 700px;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 5%;
    justify-content: center;
}

.container{
    display: flex;

}
#image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right h2{
    color: aliceblue;
    font-size: 50px;
}

#form{
    margin-top: 5%;

}
.right form{
    display: flex;
    flex-direction: column;
}

.right label{
    margin-bottom: 5px;
}

.right input{
    margin-bottom: 15px;
    padding:10px;
    border: none;
    border-radius: 5px;
}

.right button{
    padding: 10px;
    background: #FED8B1;
    color: #6f4e37;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.right button:hover{
    background-color: #ECB176 ;
}

.right a{
    color: #FED8B1;
    text-decoration: none;
}

.right a:hover{
    text-decoration: underline;
}

p{
    cursor: default;
}

#bold{
    font-weight: bold;
    color: #ECB176;
    font-size: 20px;
}

#bold2{
    font-weight: bold;
    color: #6f4e37;
    font-size: 20px;
}

